@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  --tw-selection-background: theme('colors.selection.background');
  --tw-selection-text: theme('colors.selection.text');
}

* {
  direction: rtl;
}